@media (max-width: 1300px) {
  .contest-page {
    padding: 77px 50px 148px 50px !important;
    max-width: 1080px;
  }
  .participates_util_wrapper {
    flex-direction: column;
  }
  .description_text_subtitle {
    width: 400px;
  }
  .description_text_main-text {
    width: 400px;
  }
  .description_text_date {
    margin-bottom: 30px;
  }
  .account-page {
    padding: 77px 50px 148px 50px !important;
    max-width: 1080px;
  }
  .description_days {
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

@media (max-width: 1200px) {
  header {
    justify-content: unset;
  }

  .header_logo, .header_util {
    width: unset;
  }

  .header_main {
    margin-left: 30px;
  }

  .header_util {
    margin-left: auto;
  }
}

@media (max-width: 1080px) {
  .likes_popup {
    width: 55%;
  }
  .description_text_main-text {
    width: 350px;
  }
  .description_text {
    .svg-title {
      width: 430px;
      margin-bottom: -15px;
    }
  }
  .description_days_to-end {
    margin-bottom: 35px;
  }
  .contest-page {
    padding: 77px 20px 148px 20px !important;
    max-width: 780px;
  }
  .account-page {
    padding: 77px 20px 148px 20px !important;
    max-width: 780px;
  }
  .user {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .user_balans {
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
  }
  .user_balans_text {
    margin-right: 10px;
  }
  .user_balans_maining {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .header_main {
    display: none;
  }

  .header_lang {
    &.desktop {
      display: none;
    }
  }

  .header_menu_log.login {
    display: none;
  }

  .header_login_container {
    align-items: center;
  }

  .header_login_wrapper {
    img {
      margin-right: 16px;
    }
  }

  .header_menu_wrapper {
    display: block;
  }

  .header_menu-button {
    display: flex;
    margin-top: 4px;
    z-index: 102;
  }

  .header_menu_footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header_search {
      display: none;
      margin-right: 0;
      margin-bottom: 30px;

      .header_util_style {
        margin-right: 26px;
      }
    }
  }
}

@media (max-width: 780px) {
  .contest_item {
    width: 210px;
  }
  .user {
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .participates_util {
    padding-bottom: 120px;
    align-items: flex-start;
  }
  .participates_util_order {
    margin-top: 75px;
    width: 100%;
    max-width: unset;
    margin-left: 0;
  }
  .participate_wrapper_overlay {
    &:nth-child(1), &:nth-child(2) {
      .participates_item {
        margin-top: 20px;
      }
    }
  }
  .description_days_title {
    font-size: 26px;
    width: unset;
    white-space: nowrap;
  }
  .likes_popup {
    width: 80%;
  }
  .participate_wrapper {
    margin-top: 0;
  }
  .contest-page {
    padding: 77px 20px 148px 20px !important;
    max-width: 520px;
  }
  .description_days {
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;

    > div {
      align-items: flex-start;
    }
  }
  .description_prizes {
    text-align: left;
  }
  .description {
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .description_text {
    width: 100%;
  }
  .description_text_main-text {
    width: 100%;
  }
  .description_days_to-end {
    text-align: left;
  }
  .account-page {
    padding: 77px 20px 148px 20px !important;
    max-width: 520px;
  }
  .user {
    justify-content: center;
  }
  .user_statistics {
    margin-top: 40px;
    order: 2;
  }
  .user_balans {
    order: 1;
  }
  .user_statistics_wrapper {
    margin-bottom: 10px;
  }
}

@media (max-height: 700px) {
  .participate_popup_upload_container {
    padding: 15px 0 15px 0;
    height: 160px;
  }
  .participate_popup_title {
    margin-bottom: 20px;
  }
  .participate_popup_upload {
    margin-bottom: 25px;
  }
  .participate_popup_photo {
    margin-bottom: 20px;
  }
  .participate_popup {
    height: 600px;
  }
  .btn-upload {
    margin: 10px 0;
  }
  .btn-exit-aligne {
    margin-bottom: 0px;
  }
}

@media (max-width: 700px) {
  .participate_popup {
    width: calc(100% - 30px);
    height: unset;
    padding-bottom: 15px;

    &_upload {
      width: 100%;

      &_container {
        width: 100%;
      }
    }
  }
}

@media (max-width: 570px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_menu-button {
    &.is-active {
      right: 20px;
    }
  }
}

@media (max-width: 540px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .description_text {
    .svg-title {
      width: 300px;
      margin-bottom: -15px;
    }
  }

  .contests_container {
    width: 100%;
  }

  .page {
    margin-top: 80px;
  }

  .accordion-toggler {
    display: block;
  }
  .description_prizes {
    margin-top: 0;
  }
  .description_text_date {
    margin-bottom: 20px;
  }
  .description_text_main-text {
    margin-bottom: 0;

    &.active {
      margin-bottom: 30px;
    }
  }
  .description_text_subtitle {
    display: flex;
    align-items: center;

    span {
      &:first-of-type {
        margin-left: 10px;
      }

      &:last-of-type {
        margin-top: 5px;
      }
    }
  }
  .participate_popup_photo_item img {
    height: auto !important;
  }
  .popup_btn-style {
    height: 40px;
    margin-bottom: 10px;
  }
  .description_days {
    > div:last-of-type {
      margin-left: unset;
    }
  }
  .description_prizes {
    .prizes {
      text-align: left;
      justify-content: flex-start;
    }
  }
  .btn_participate span {
    font-size: 12px;
  }
  .btn-exit-aligne {
    margin-top: 15px;
  }
  .participate_popup_upload_container {
    padding: 20px;
    width: 100%;
  }
  .participate_popup {
    padding: 0 15px;
    height: 500px;
    justify-content: center;
    position: relative;

    .btn-exit-aligne {
      position: absolute;
      top: 16px;
      right: 16px;
      margin: 0 !important;
    }
  }
  .participates_util_order {
    padding: 6px 18px 8px 18px;
  }
  .description_days {
    flex-direction: column;
    margin-top: 15px;

    & > div:last-of-type {
      margin-top: 0;
    }
  }
  .description_days_to-end {
    margin-bottom: 30px;
  }
  .participates_util {
    flex-direction: column;
    padding-bottom: 110px;
  }
  .participates_util_wrapper {
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 50px;
  }
  .description_text_subtitle {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
  }
  .description_days_title {
    font-size: 24px;
  }
  .btn_contest_participate {
    width: 200px;
  }
  .contest-page {
    padding: 40px 15px 100px 15px !important;
    max-width: 340px;
  }
  .participates_item {
    width: 100%;
    max-width: 310px;
    height: 400px;
  }
  .participate_wrapper_overlay {
    width: 100%;

    &:nth-child(2) {
      .participates_item {
        margin-top: 52px;
      }
    }
  }
  .participate_wrapper {
    margin: 0;
  }
  .participate_wrapper_overlay {
    margin: 0;
  }
  .account-page {
    padding: 77px 15px 40px 15px !important;
    max-width: unset;
  }
  .contest_item {
    margin: 0 0 20px 0;
    width: 100%;
    height: 420px;
  }
  .contest_item_review_margin {
    margin-right: 30px;
  }
  .contest_item_review_margin svg {
    width: 24px;
    height: 24px;
  }
  .contest_item_title_subtitle {
    font-size: 22px;
  }
  .contest_item_title_date {
    font-size: 14px;
  }
  .contest_item_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contest_item_review_margin span {
    font-size: 22px;
  }
  .contests_title {
    margin-bottom: 20px;
  }
  .contests_container {
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .user_statistics {
    margin-bottom: 0px;
  }

  .participate-slider {
    .participate_popup_photo_item {
      img {
        height: 120px !important;
      }
    }
  }
}

@media (max-width: 520px) {
  .account-page__content {
    padding: 0 !important;
  }
  .header_search {
    position: relative;

    .header_search_inner {
      background: #fff;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    
    .header_search_input {
      &.active {
        width: 95px;
      }
    }

    input {
      width: 0;
    }
  }
  .header_util_container .dropdown-icon {
    margin-right: 0;
  }
  .header_login-button, .header_search_input {
    margin-right: 10px;
  }
  .text-page {
    padding-top: 40px;
    padding-bottom: 50px;

    &_title {
      margin-bottom: 50px;
    }
  }
  .header_menu_log.login {
    display: block;
  }
  .header_menu_footer {
    .header_search {
      display: flex;
    }
  }
  .user_profile_text {
    height: unset;
  }
  .btn_avatar {
    top: calc(100% - 50px);
    left: calc(100% - 50px);
    width: 50px;
    height: 50px;
  }
  .user_profile_text_name {
    font-size: 24px;
    width: 140px;
    line-height: 34px;
    height: unset;
  }
  .user_profile_picture {
    margin-right: 15px;
  }
  .user_profile_text_city {
    font-size: 14px;
    height: 20px;
  }
  .user_profile_text_edit p {
    font-size: 14px;
  }
  .user_profile_image {
    width: 140px;
    height: 140px;
  }
  .btn_add {
    width: 150px;
  }
  .user_balans_maining {
    margin-right: 0;
  }
  .user_balans_text { 
    margin-right: 5px;
    margin-top: 6px;
  }
  .account-page {
    padding: 107px 15px 0 15px;
  }
  .user_statistics {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .user_statistics {
    width: 90%;
  }
}

@media (max-width: 470px) {
  .overlay-swiper {
    padding: 0;

    .swiper-container {
      width: calc(100% - 20px);
      margin-bottom: 10px;
    }

    .swiper-slide {
      max-height: 300px;
    }
  }

  .participate_popup_upload, .participate_popup_title {
    margin-bottom: 10px;
  }

  .participate_popup .btn-exit-aligne {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  header {
    padding-left: 20px;
    padding-right: 10px;
  }

  .header_login {
    display: none;
  }

  .header_login_wrapper img {
    margin-right: 0;
  }

  .header_util_container .dropdown-icon {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .participate_popup {
    &_title {
      text-align: center;
    }
  }

  .likes_popup {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;

    .btn_exit {
      margin-right: 0;
    }
  }
}

@media (max-width: 400px) {
  .user_statistics {
    width: 100%;
  }

  .user_balans_maining {
    font-size: 24px;
    margin-bottom: 0;
  }

  .user_profile {
    &_picture {
      img {
        width: 80px;
        height: 80px;
      }
    }

    .btn_avatar {
      top: calc(100% - 30px);
      left: calc(100% - 30px);
      width: 30px;
      height: 30px;
    }

    &_text {
      height: unset;

      &_name {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}
